# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Nanyang Technological University\University Documents\Y3SEM1\CZ3005 Artificial Intelligence\Lab 1\cz3005-project-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
